@model computer_reparatieshop.ViewModels.RepairOrderVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reparatieopdrachten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairOrder.RepairerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairOrder.RepairerName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepairOrder.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
