@model computer_reparatieshop.ViewModels.CustomerVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Customer.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.BirthDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Customer.TotalOrderCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.TotalOrderCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.OpenOrderCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.OpenOrderCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
