@model IEnumerable<computer_reparatieshop.ViewModels.VirtualVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.TotalOrderCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.OpenOrderCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.TotalOrderCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.OpenOrderCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Customer.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Customer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Customer.Id })
            </td>
        </tr>
    }

</table>
